/* Reset de estilos padrão do navegador */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos gerais para o corpo do site */
body {
    font-family: 'Courier New', monospace;
    background-image: url('papel.jpg'); /* Substitua 'papel.jpg' pelo caminho para a sua imagem de papel de caderno amassado */
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    background-repeat: repeat;
    font-size: 16px;
}

/* Estilizar o cabeçalho */
h1 {
    font-size: 24px;
    text-align: center;
    padding: 20px 0;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #333;
}

/* Estilizar os botões Limpar e Salvar */
button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
}

#reset-list {
    background-color: #d9534f;
}

/* Estilizar o formulário de compras */
#shopping-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
    border: 2px solid #007bff;
    box-shadow: 0 0 20px rgba(0, 123, 255, 0.5);
}

/* Estilizar os campos de entrada de itens */
.item-input {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.item-input input[type="text"] {
    flex: 1;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #ddd;
    font-family: 'Courier New', monospace;
    font-size: 20px;
    background-color: transparent;
}

#add-item {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

/* Estilizar a lista de itens */
#item-list {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
    font-size: 20px;
    font-family: 'Courier New', monospace;
    font-style: italic;
}

span {
    flex: 1;
    padding: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.quantity-input,
.price-input {
    width: 60px;
}

/* Estilizar o total */
#total-container {
    text-align: right;
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

/* Estilizar o botão "Comprar/Comprado" */
.mark-as-purchased {
    background-color: blue;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
}

.mark-as-purchased.purchased {
    background-color: red;
}
