/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-image: url('papel.jpg');
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    background-repeat: repeat;
    font-size: 16px;
}

/* Estilizar o cabeçalho */
h1 {
    font-size: 28px;
    text-align: center;
    padding: 20px 0;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #007bff;
}

/* Estilizar botões */
button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 12px 24px;
    cursor: pointer;
    font-size: 18px;
    margin-right: 10px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

#reset-list {
    background-color: #d9534f;
}

#delete-selected {
    background-color: #d9534f;
}

/* Estilizar o formulário de compras */
#shopping-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
    border: 2px solid #007bff;
    box-shadow: 0 0 20px rgba(0, 123, 255, 0.5);
}

/* Estilizar os campos de entrada de itens */
.item-input {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.item-input input[type="text"] {
    flex: 1;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #007bff;
    font-family: Arial, sans-serif;
    font-size: 20px;
    background-color: transparent;
    color: #007bff;
    outline: none;
}

#add-item {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
}

/* Estilizar a lista de itens */
#item-list {
    list-style-type: none;
    padding: 0;
    width: 100%;
}

li {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    font-size: 18px;
    font-family: Arial, sans-serif;
}

span {
    flex: 1;
    padding: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.quantity-input,
.price-input {
    width: 60px;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #007bff;
    font-family: Arial, sans-serif;
    font-size: 18px;
    background-color: transparent;
    outline: none;
}

/* Estilizar o total */
#total-container {
    text-align: right;
    margin-top: 20px; /* Aumente a margem superior para criar mais espaço para os itens */
    font-size: 30px;
    font-weight: bold;
    color: #007bff;
}

/* Estilizar o botão "Comprar/Comprado" */
.mark-as-purchased {
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 16px;
}

.mark-as-purchased.purchased {
    background-color: #d9534f;
}
/* Estilos do menu lateral */
.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #007bff;
    width: 50px;
    text-align: center;
    transition: background-color 0.3s;
    z-index: 1;
}

.menu-container button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
}

.menu {
    position: fixed;
    top: 0;
    left: -150px;
    width: 150px;
    height: 100%;
    background-color: #007bff;
    color: #fff;
    transition: 0.3s;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
}

.menu button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 0;
    padding: 15px;
    cursor: pointer;
    text-align: left;
    font-size: 16px;
    width: 100%;
    display: block;
    transition: background-color 0.3s;
}

.menu button:hover {
    background-color: #0056b3;
}
/* Estilizar a lista de itens */
#item-list {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    font-size: 18px;
    font-family: Arial, sans-serif;
}

/* Ajuste a largura do nome do item e adicione quebra de palavras para que o nome seja exibido completo */
span.item-name {
    flex: 2; /* Aumente o tamanho para acomodar nomes mais longos */
    padding: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word; /* Isso permite a quebra de palavras */
}

.quantity-input,
.price-input {
    width: 60px;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #007bff;
    font-family: Arial, sans-serif;
    font-size: 18px;
    background-color: transparent;
    outline: none;
}
